<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
<head>
  <title>Pale Fire | <%= yield(:title) %></title>
</head>
<body>
  <h1>Contact</h1>
  <p>raise issues or give feedback <a href=''>here</a></p>
</body>
</html>