<!DOCTYPE html>
<html>
<head>
  <title>Pale Fire | <%= yield(:title) %></title>
</head>
<body>

  <div class="card center", id="home" >
    <h1>Pale Fire</h1>
  
    <h5>writing | versions</h5>
  
    <br></br>


<% if signed_in? %>
  <%= link_to "start writing", current_user, class: "btn btn-primary btn-large " %>
<% else %>
    <%= link_to "start writing", try_path, class: "btn btn-large btn-primary" %>
<% end %>

  </div> 

</div>


</body>



</html>