<!DOCTYPE html>
<html>
<head>
  <title>Pale Fire | <%= yield(:title) %></title>
</head>
<body>

  <div class="center hero-unit">

    <h1>Pale Fire</h1>

    <h4>write, revise, rearrange</h4> <h4>tiny texts | small stories</h4>
    <br>

    <%= link_to "start writing", try_path, class: "btn btn-large btn-primary" %>


  </div> 


</body>



</html>