<h1><%= link_to @project.title, project_path(@project) %></h1>

<div class="span8">
  <h3>versions:</h3>
  <ol class="listing">
    <%= render @cards %>
  </ol>
</div>

<div>
  
  <%= link_to 'blank card', edit_card_path(@blank_card) %>

</div>

<% if @stack == @project.stacks.last %>
  (this is the last stack of the project)
<% end %>




