<div class="links">

<h1><%= link_to @project.title, project_path(@project) %></h1>

<div>  
  <h3>versions:</h3>
  <ol class="listing">
    <%= render partial: 'card', collection: @cards %>
  </ol>
</div>

<div>