<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <div class="gravatar">
    <h1>
      <%#= gravatar_for @user %>
      <%= @user.name %>
    </h1>
      </div>
    </section>
    <section>
      <% if @user == current_user %>
        <%= render 'projects/form' %>
      <% end %> 
    </section>
  </aside>

  <div class="span8">
    <% if @user.projects.any? %>
      <h3>projects</h3>
      <ol class="listing">
        <%= render @projects %>
      </ol>
      <%= will_paginate @projects %>
    <% end %>
  </div>


</div>