
<div class="card_text", style="float: left; word-wrap: break-word;">
  <%#= link_to content_tag(:span), edit_card_path(card_text.cards.first) %>

  <%= link_to content_tag(:span), edit_project_stack_path(id: card_text.id,
                                                        project_id: @project.id) %>  
  <%= simple_format(card_text.format_picked_card, class: 'paragraphs') %>
</div>










