<div class="whole-text draft">

  <div class="whole-text-title"><%= @project.title %></div>

  <div class="whole-text-description">
    <%= @project.description_short %>
  </div><br/>

<%= simple_format(@project.draft)  %>

</div>