<%= form_for(@project) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: "new project title..." %>
  </div>
  <%= f.submit "begin", class: "btn btn-large btn-primary" %>
<% end %>