<li>
  <span class="project_title"><%= project.title %></span>
  <span class="timestamp">
    started <%= time_ago_in_words(project.created_at) %> ago
    <% if project.updated_at %>
      last updated <%= time_ago_in_words(project.updated_at) %> ago
    <% end %>
  </span>
</li>