<h1><%= @project.title %></h1>

<div class="links">

  <div class="span7">
    <h3>top card of each stack</h3>
    <ol class="listing">
      <%= render partial: 'stack', collection: @project.stacks %>
    </ol>    
  </div>

  <div class="span3 offset1">
    <%= render 'stacks/form' %>
  </div>

</div>

  

