<h1><%= link_to @project.title, project_path(@project) %></h1>

<div class="row">

<aside class="span4">
  <%= link_to '<< stack of cards', stack_path(@current_stack) %><br/>
  <% if @current_stack == @project.stacks.last %>
    This is the last stack of the project.
    <%= render 'stacks/form' %>
  <% end %>
</aside>

<div class="span8">
 <%= render 'form' %>
<div class="span8"> 

</div>