@import "bootstrap";

/* mixins, variables, etc. */

  /* colors */
$grayMediumLight: #eaeaea;
$palered: rgba(179, 169, 169, 0.28);
$palerred: rgba(179, 169, 169, 0.18);
$emph_text: indianred;


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
 
}

body {
  padding-top: 60px;
  font-family: monospace;
  background: #BFBABA;
}


section {
  overflow: auto;
}


textarea {
  resize: vertical;
}


.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.row {
  margin-left: -50px;
}


/* typography */

.links{
a {
  font-weight: bolder;
  color: gray;
  &:hover {
    color: black;
    text-decoration: none; }
}
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

#about {
  font-size: 1.4em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #814242;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #7A1616;
    text-decoration: none;
  }
}

/*  button */

.btn-primary{
  background: indianred;
  &:hover{
    background: firebrick;
  }
}

.btn-large{
  border: firebrick;
}

/* cards */

@mixin large_card{
  width: 6.5in;
  height:4in;
}

@mixin small_card{
  width: 5in;
  height: 3in;
}

@mixin tiny_card{
  width: 3.5in;
  height: 2in;
}

@mixin mini_card{
  width: 2in;
  height: 1.2in;
}

.card{
  @include box_sizing;
  background: white;
  padding: 10px;
  border-radius: 5px;
}

.signup{
  @include small_card;
  position:fixed;
  top: 180px;
  left: 150px;
}

.writing {  
  @include small_card;
  line-height: 1.5;
  color: black;
  font-family: helvetica;
}

.project-card {
  padding: 5px;
  @include tiny_card;
  position: relative;
  project-title {
  color: black;
  font-size: 16px;
  font-weight: bolder;
  }
  span {
  padding-top: 30px;
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
  top:0px;
  left:0px;
}
}

.new-project {
  font-size: 28px;
  @include mini_card;
}



.project-info {
  float: right;
}



#home{
  text-align: center;
  padding-top: 75px;
  position:fixed;
  top: 120px;
  left: 150px;
  @include large_card;
  border: outset;
}

/* whole text view */

.whole-text {

  padding-top: 100px;
  padding-bottom: 150px;
  
  width: 60%;
  padding-left: 14%;
  padding-right: 16%;
  font-family: Helvetica, Times, 'Times New Roman', serif;
  color: #737373;
  background: white;
  word-height: 1.5;
  font-size: 14px;
}


.whole-text-title {
    font-family: Helvetica, Times, 'Times New Roman', serif;
    font-size: 28px;
    color: black;
    text-decoration: none; 
  }

.whole-text-description {
    color: #999999;
    font-style: italic;
    text-indent: 10px;
    
    }

.card_text {
  position: relative;
}

 .card_text span {
width:100%;
height:100%;
position:absolute;
z-index:2;
top:0px;
left:0px;
 }





/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}


/* miscellaneous */
.debug_dump {
  clear: both;
  float: right;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: none; /*1px solid #bbb;*/
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}


textarea, textarea:focus, input[type=text], input[type=text]:focus, 
input[type=password], input[type=password]:focus {
  /* height: auto !important; */
  border: none;
  box-shadow: none;
}

/* error messages */

#error_explanation {
  color: firebrick;
  ul {
    list-style: none;
  }
}

.field_with_errors {
  text-align: float-right;
}


/* projects, other listings */

.listing {
  list-style: none;
  margin: 10px 0 0 0;


  li {
    padding: 30px 0;
    border-top: 1px solid indianred;
        }
}

.project-title {
  display: block;
  color: black;
  font-size: 20px;
}

.timestamp {
  color: $grayLight;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}


